table {
    border-collapse: collapse;
   } 
   th {
       background-color: #DADADA;
       font-size: 15px;
       font-weight: 700;
   }
   .one{
        text-align: left;
   }
   .change{
    color: red;
    width: 276;
    height: 57;
   }
   .text{
    width: 444px;
    height: 22px;
   }
   .id{
    width: 57px;
    height: 72px;
   }